@import "https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css";


/* CSS DA NAVBAR DA HOME */
.navbarh {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #f3f3f3;
}
.navbarh .logo {
    width: 15%;
}
.navbarh .notifications {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.navbarh .notifications .badge {
    position: absolute;
    top: -5px;
    right: -1px;
    background-color: red;
    border-radius: 50%;
    padding: 5px 5px;
}

/* CSS DA BARRA DE PESQUISA DA HOME*/

.input-wrapper{
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: white;
    border-radius: 16px;
}

.input-wrapper input{
    background-color: transparent;
    border: none;
    font-size: 20px;
    width: 100%;
}

.input-wrapper input:focus-visible{
    outline: none;
}

/* CSS DO CARROSEL DE CARDS */

.wrapper { 
    max-width: auto; 
    width: 100%; 
    position: relative; 
}
  
.wrapper .carousel { 
    display: grid; 
    grid-auto-flow: column; 
    grid-auto-columns: calc((100% / 3) - 12px); 
    gap: 15px; 
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth; 
    scrollbar-width: 0;
} 
  
.carousel::-webkit-scrollbar { 
    display: none; 
} 
  
/* .carousel :where(.card_slide, .img) { 
    display: flex;
    align-items: center;
    justify-content: center; 
}  */
  
.carousel.no-transition { 
    scroll-behavior: auto; 
}
  
.carousel .card_slide_black { 
    scroll-snap-align: inherit; 
    height: 230px; 
    list-style: none; 
    background: #141518; 
    border-radius: 16px; 
    /* display: flex;  */
    cursor: pointer;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 15px;
    justify-content: center; 
    /* flex-direction: column;  */
}

.carousel .card_slide_white { 
    scroll-snap-align: inherit; 
    height: 230px; 
    list-style: none; 
    background: #ffffff; 
    border-radius: 16px; 
    /* display: flex;  */
    cursor: pointer;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 15px;
    justify-content: center;
    /* flex-direction: column;  */
}
  
@media screen and (max-width: 900px) { 
    .wrapper .carousel { 
        grid-auto-columns: calc((100% / 2) - 9px); 
  
    } 
} 
  
@media screen and (max-width: 600px) { 
    .wrapper .carousel { 
        grid-auto-columns: 100%; 
  
    } 
}

/* CSS DO MENU SUPERIOR DA TELA HOME DE RECOMENDAÇÕES */

.menu_top{
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 6px;
}