@import "https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css";


/* CSS DA NAVBAR DA HOME */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #f3f3f3;
}
.navbar .logo {
    width: 15%;
}
.navbar .notifications {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.navbar .notifications .badge {
    position: absolute;
    top: -5px;
    right: -1px;
    background-color: red;
    border-radius: 50%;
    padding: 5px 5px;
}

/* CSS DA BARRA DE PESQUISA DA HOME*/

.input-wrapper{
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: white;
    border-radius: 16px;
}

.input-wrapper input{
    background-color: transparent;
    border: none;
    font-size: 20px;
    width: 100%;
}

.input-wrapper input:focus-visible{
    outline: none;
}